.git
.env.backup
.env.production
.env.example
.env.testing
.phpactor.json
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
.dockerignore
/.fleet
/.idea
/.vscode
/.zed
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/database/*.sqlite
/vendor
/tests
/documentation
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
phpunit.xml
LICENSE
README.md