th {
    text-align: center;
}

textarea {
    overflow: hidden;
}

td {
    text-align: center;
}

thead.sticky-header th {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 2;
}