<<<<<<< HEAD body {
    background-color: var(--white);
    height: 100vh;
    overflow: hidden;
}

=======>>>>>>>847d1674f58220e7f89efce942323c95548ccc55 #buttons-container {
    display: flex;
}

.button {
    width: 100px;
    height: 80px;
}
.custom-font-size {
    font-size: 50px;
}
.btn-animated {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-animated:active {
    transform: scale(0.9);
}

.content {
    text-align: center;
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
    top: 80px;
}

.overlay.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.loader {
    border: 8px solid #0d6efd;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.loading-container {
    text-align: center;
    color: #000000;
}

.loading-container p {
    font-size: 24px;
    color: white;
    background-color: #0d6efd;
    border-radius: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.topbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #091057;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.dot {
    width: 25px;
    height: 25px;
    margin: 0 15px;
    background-color: #0d6efd;
    border-radius: 50%;
    animation: dot-blink 1.5s infinite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

.dot:nth-child(5) {
    animation-delay: 0.8s;
}

.loading-container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
}

.checkmark-container {
    color: #0d6efd;
    font-size: 190px;
    justify-content: center;
    animation: popIn 0.5s ease forwards;
}

.checkmark-container2 {
    display: flex;
    margin-left: -70px;
    color: #fdfeff;
    font-size: 190px;
    justify-content: center;
    animation: popIn 0.5s ease forwards;
}

.user-message {
    text-align: center;
}

.username {
    font-size: 1.5em;
    color: #ddd;
}

.waiting-message {
    font-size: 1.5em;
    color: #ddd;
}

@keyframes dot-blink {
    0%,
    20%,
    100% {
        transform: translateY(0);
        opacity: 0.6;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

.user-message-container {
    background-color: #0d6efd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
}

#overlay2 {
    background-color: #0d6efd;
    color: #ffffff;
    position: fixed;
    top: 80px;
}

#overlay2 .user-message {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.loading-container2 p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 8px;
}
.user-message-container2 {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
}

.user-message2 {
    text-align: center;
}

.username2 {
    font-size: 1.5em;
    color: #ddd;
}

.waiting-message2 {
    font-size: 1.5em;
    color: #ddd;
}

.bouncing {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#loading-container2 {
    opacity: 0;
    transition: opacity 2s;
}

.fade-in-out {
    transition: opacity 2s;
}

#user-info {
    opacity: 1;
    transition: color 2s ease;
}
